nav {
    background-color: #ca085a;
    .navbar-brand {
        font-size: 27px;
        font-weight: bold;
        color: #e3d510!important;

    }
    a {
        font-size: 20px;
        color: #FFF!important;
        &.active  {
            background-color: #910340;
            padding: 10px;
            color: #FFF;
            width: 70%;
        }
    }
    .links {
      a{
        display: inline-block;
        margin-left: 10px;
        margin-top: 8px;
        padding: 10px;
        width: 15%;
        text-align:center;
      }
    }
  }
