h1 {
    font-weight: bold;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 130px;
}
.img span {
    margin: 4px;
    padding: 2px;
    color:#008989;
    height: 14px;
    max-width: 60px;
}